%card-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.119px;
  color: var(--primary-text);
}



%card-bottom-text {
  color: var(--primary-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.5px;
}
